[
    {lager, [
        {handlers, [
            % {lager_console_backend, [{level, info}]},
            {lager_file_backend, [
                {file, "kafka_stub.log"}, 
                {level, debug},
                % 2025-04-13 18:15:43.109 [info] <0.170.0>@ks_tcp_worker:init:{55,5} Starting worker for socket #Port<0.11>
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, 
                    " [", severity, "] ", 
                    pid, {module, ["@", module, ":", function, ":", line], ""}, " ",
                    {msg_n, ["msg_n=", msg_n, " "], ""},
                    message, "\n"
                ]}
            ]}
        ]}
    ]}
].